table {
    border: 5px solid;
	border-collapse: collapse;
	width: 100%;
	
}
h2 {
	text-align: center;
	text-decoration: underline;
}
th, td {
  text-align: center;
  padding: 10px;
}
thead{
	color: blue;
	display: table-header-group;
	overflow-y: auto;
	position: sticky;
	top: 0px;
}
tbody{
	color: black;
}
tbody tr:nth-child(odd) {
  background-color: #D6EEEE;
}

.icon {
	width: 25px;
	height: 25px;
	
}
.attribute-type {
	color: green;
	}